body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
}
.welcome {
background-color: #095d40;
color: white;
text-align: center;
padding-top: 100px;
}
.centered {
display: flex;
flex-direction: column;
align-items: center;
}
.logo {
width: 100px;
margin-bottom: 20px;
}
.btn {
background-color: white;
color: #095d40;
padding: 10px 20px;
border: none;
text-decoration: none;
font-weight: bold;
text-align: center;
border-radius: 5px;
}
.modal {
background-color: white;
padding: 20px;
border-radius: 10px;
width: 250px;
color: black;
margin: auto;
margin-top: 150px;
text-align: left;
}
.modal h2 {
margin-bottom: 20px;
text-align: center;
color: #095d40;
}
.modal button {
background-color: #095d40;
color:  white;
padding: 5px;
font-weight: bold;
display: block;
border-radius: 5px;
text-align: center;
margin: 20px auto 0 auto;
}
.split {
display: flex;
height: 100vh;
}
.left {
width: 50%;
background-color: #095d40;
color: white;
text-align: center;
padding: 80px 20px;
}
.right {
width: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: #faf9f6;;
color: #095d40
}
.right h2{
text-align: center;
}
.right p{
text-align: center;
}
.login-box {
width: 300px;
}
.login-box input {
width: 100%;
padding: 10px;
margin: 10px 0;

}
.submit {
font-size: 15px;
background-color:  #095d40 ;
color: white;
align-items: center;
}
.submit p{
background-color: #095d40;
color:  white;
padding: 5px;
font-weight: bold;
display: block;
border-radius: 5px;
text-align: center;
margin: 20px auto 0 auto;
}